<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:hibernateexample</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">1</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.archive.autodetection">class,hbm</property>
        <mapping class="com.company.entities.EmployeeEntity"/>
        <mapping class="com.company.entities.ManagerEntity"/>
        <mapping class="com.company.entities.DeveloperEntity"/>
        <mapping class="com.company.entities.DesignerEntity"/>
    </session-factory>
</hibernate-configuration>
